{
  "apps": [{
    "name": "external-microApi",
    "script": "./index.js",
    "watch": false,
    "env": {
      "NODE_ENV": "development",
      "topic": "dev.external.microapi",
      "ASYNC_RESPONSE_TIMEOUT": 10000,
      "MAX_TASK": 5,
      "INTERVAL": 2000,
      "AUTO_POLL": "false",
      "LOCK_DURATION": 10000,
      "BASE_URL": "http://localhost:8080/engine-rest",
      "WORKER_ID": "default-worker",
      "USER": "demo",
      "PASS": "demo",

      "otherProcVars": "https://kaju.it"
    }
  }]
}
